/* css styles */
.title {
  background-image: url("images/background.jpg"); 
  background-size: cover; 
  background-position: center;
  color: #F5F3F0; 
  font-size: 38px;
  padding: 40px;
  border-radius: 10px;
  text-align: center;

      /* 描边效果 */
      -webkit-text-stroke: 2px #f6d7c493;
      text-stroke: 2px #f6d7c493;
      text-shadow: 
          0 0 4px rgba(255, 255, 255, 0.5); /* 光晕效果 */
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  opacity: 0; /* 初始隐藏 */
  animation: fadeIn 1s ease-in-out forwards;
  text-align: center;
}
