/* css styles */
.title {
  background-image: url("images/background.jpg"); 
  background-size: cover; 
  background-position: center;
  color: white; 
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}